.place {
    display: grid;
    grid-template-columns: 460px 456px;
    column-gap: 40px;
    row-gap: 48px;
    margin-top: 80px;
}

.place:first-child {
    margin-top: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: 440px 456px;
        column-gap: 32px;
    }
}

@media (max-width: 768px) {
    .place {
        grid-template-columns: 340px 352px;
        column-gap: 28px;
        margin-top: 73px;
    }
}

@media (max-width: 768px) {
    .place {
        grid-template-columns: 100%;
        column-gap: 0;
        row-gap: 32px;
        margin-top: 50px;
    }
}