.place {
    display: grid;
    grid-template-columns: calc((97% - 40px)/2) calc((100% - 16px)/2);
    column-gap: 42px;
    row-gap: 48px;
    margin-top: 82px;
}

.place:first-child {
    margin-top: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: calc((98% - 32px)/2) calc((100% - 12px)/2);
        column-gap: 32px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .place {
        justify-content: space-between;
        grid-template-columns: calc((98% - 30px)/2) calc((98% - 1px)/2);
        column-gap: 10px;
        row-gap: 44px;
        margin-top: 76px;
    }
}

@media screen and (max-width: 425px) {
    .place {
        grid-template-columns: 100%;
        column-gap: 0;
        row-gap: 32px;
        margin-top: 50px;
    }
}