.intro__list {
    width: 100%;
    max-width: 720px;
    list-style: none;
    margin: 0;
    padding-top: 33px;
    padding-left: 0;
}

@media screen and (min-width: 1024px) {
    .intro__list {
        max-width: 690px;
    }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .intro__list {
        padding-top: 34px;
    }
}