.lead__image {
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
}

@media screen and (min-width: 1280px) {
    .lead__image {
        max-width: 984px;
    }
}

