.cover {
    display: flex;
    margin: 92px auto 0;
    width: 100%;
    max-width: 1184px;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .cover {
        margin-top: 103px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin-top: 90px;
    }
}

@media screen and (max-width: 425px) {
    .cover {
        margin-top: 68px;
    }
}