.cover {
    margin-top: 92px;
    width: 100%;
    max-width: 1184px;
    text-align: center;
    color: #fff;
    position: relative;
}

.cover::before:hover {
    transition: 2s;
    opacity: 0.2;
}

@media screen and (min-width: 1025px) {
    .cover {
        width: 92.5%;
    }
}