.lead__background {
    position: relative;
    margin-top: 64px;
}

@media screen and (max-width: 1280px) {
    .lead__background {
        margin-top: 64px;
    }
}

@media screen and (max-width: 1024px) {
    .lead__background {
        margin-top: 56px;
    }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .lead__background {
        margin-top: 40px;
    }
}