.footer {
    width: 92.5%;
    color: #fff;
    flex-direction: row;
    justify-content: space-between;
    margin: 92px auto 24px;
}

@media screen and (max-width: 1024px) {
    .footer {
        width: 90%;
    }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .footer {
        max-width: 186px;
        flex-direction: column;
        margin: 64px 16px 24px;
    }
}