.footer {
    display: flex;
    width: 92.5%;
    max-width: 1184px;
    color: #fff;
    flex-direction: row;
    justify-content: space-between;
    margin: 94px auto 24px;
}

@media screen and (max-width: 1024px) {
    .footer {
        width: 91%;
        max-width: 928px;
        margin-top: 91px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        width: 94%;
        max-width: 720px;
        margin-top: 86px;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        max-width: 186px;
        flex-direction: column;
        margin: 64px 16px 24px;
    }
}